.h2-responsive
{
  text-align: center;
  font-size: 0.8cm;
  font-weight: 900;
  color: rgb(42,49,50);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3),
                0px -2px 20px rgba(255, 255, 255, 0.3);
}

.pic
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
  border:3px solid black;
  
}
  
  .registration-form {
    padding: 50px 0;
  }
  
  .registration-form form {
    /* background-color: rgba(255, 255, 255,0.15); */
    background-color: rgba(51,107,135,0.27);
    /* backdrop-filter: blur(5px); */
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.45);
    /* box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.08);  */
   
  }
  
  .registration-form .form-icon {
    text-align: center;
    background-color: #29c268;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
  }
  

  
  @media (max-width: 576px) {
    .registration-form form {
      padding: 50px 20px;
    }
  
    .registration-form .form-icon {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
    }
  }

  .example-form-field {
    width: 450px;
  }
  .form-group
  {
    text-align: center;
    margin-top: 10px;
  }

 