<header >
        



        
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-info d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5"><span class="d-none d-sm-inline">Weather App</span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item" *ngIf="loggedIn">
                  
                    <a class="nav-link" routerLink="dashboard"> Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item" *ngIf="loggedIn">
                    <a class="nav-link" routerLink="search">Find City Weather</a>
                </li>
                <li class="nav-item" *ngIf="loggedIn">
                  <a class="nav-link" routerLink="forecast">Forecast</a>
              </li>
                
                <li class="nav-item" *ngIf="loggedIn">
                    <a class="nav-link" routerLink="favourites">Wishlist</a>
                </li>


                
                </ul>
              


                <ul class="navbar-nav mr-auto">


                  <li>
                    <button mat-raised-button routerLink="login" *ngIf="!loggedIn" class="login-signup">Login</button>
                  </li>

                  <li>
                   <button mat-raised-button routerLink="signup" *ngIf="!loggedIn" class="login-signup">SignUp</button>
                 </li>  
          








                 <div class="dropdown" *ngIf="loggedIn">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPvy24PzneV-ktjESIW1zsShu-rOtoSiS_Rw&usqp=CAU" alt="hugenerd" width="28" height="28" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">{{user_name}}</span>
                

                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button mat-menu-item routerLink="updateProfile" class="dropdown-item">
                      <b><span>Update profile</span></b>
                    </button>

                    <button mat-menu-item routerLink="changePassword" class="dropdown-item">
                      <b>  <span>Change The password</span></b>
                      </button>
                  
                      <button mat-menu-item (click)="logOut()" routerLink="home" class="dropdown-item">
                        <b><span>Logout</span></b>
                      </button>

                  </div>
                </div>





                  </ul>







                  

            </div>
        </div>
        <div class="col d-flex flex-column h-100">
              <router-outlet></router-outlet>

          
           
        </div>
    </div>
</div>





































  </header> 


