<div class="globallymovedown">

    <div class="registration-form">
        <form (ngSubmit)="onSubmit()">
            <h2 class="h3-responsive" style="color: blue">Change password</h2>
            
    
            <!-- OLD PASSWORD -->
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Old password</mat-label>
                    <input matInput id="oldPassword" type="password" [(ngModel)]="oldPassword"  [ngModelOptions]="{standalone: true}" placeholder="Enter old password">
                    <button mat-button *ngIf="oldPassword" matSuffix mat-icon-button aria-label="Clear" (click)="oldPassword=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field> 

               <!-- NEW PASSWORD -->
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>New password</mat-label>
                    <input matInput id="newPassword" type="password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter new password">
                    <button mat-button *ngIf="newPassword" matSuffix mat-icon-button aria-label="Clear" (click)="newPassword=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field> 

               <!-- CONFIRM NEW PASSWORD -->
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Confirm New password</mat-label>
                    <input matInput id="confirmNewPassword" type="password" [(ngModel)]="confirmNewPassword"  [ngModelOptions]="{standalone: true}" placeholder="Confirm new password">
                    <button mat-button *ngIf="confirmNewPassword" matSuffix mat-icon-button aria-label="Clear" (click)="confirmNewPassword=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field> 
 
           
            <div class="form-group">
                <!-- <button type="submit" class="btn btn-block create-account">Update Profile</button> -->
                <button mat-raised-button id="submitbutton" type="submit" style="color: #007bff" class = "submitButton" >Change Password</button>
            </div>
        </form>
    </div>
    
    </div>