.h2-responsive
{
    margin-bottom: 30px;
  text-align: center;
  font-size: 0.8cm;
  font-weight: 900;
  color: black;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3),
                0px -2px 20px rgba(255, 255, 255, 0.3);
}

.registration-form {
    padding: 50px;
  }

  .registration-form form {
    background-color: rgba(51,107,135,0.27);
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.45);
   
  }


  .example-form-field {
    width: 450px;
  }
  .form-group
  {
    text-align: center;
    margin-top: 10px;
  }




  @media (max-width: 576px) {
    .registration-form form {
      padding: 50px 20px;
    }
}