
<div class="globallymovedown">


  
      <div class = "noCityTitle" *ngIf="!loading&&flag">
        <h1 class="h1-responsive">No favourite city to show</h1>
    </div>

        <div class = "search">
            <H2>Get the Weather Forecast Details</H2>


            

            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Enter city</mat-label>
                <input matInput id="searchbox" type="text" [(ngModel)]="city" placeholder="search weather by city" >
                 
              </mat-form-field>
        </div>
        <div class = "search">

              <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Enter days</mat-label>
                <input matInput id="searchbox" type="text" [(ngModel)]="days" placeholder="enter days" >
                  
              </mat-form-field>
            </div>
            
        
        <div class="searchField" >
            <!-- <input type="text"> -->
        
            <div class= "searchButton">
                <button id="searchbutton" mat-raised-button  width="50px" (click)="fetchWeatherForecast()">Search</button>
            </div>
        </div>

        <div *ngIf="!forecastday" class="loader"></div>

  
      <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
    <div class="col-lg-8 grid-margin stretch-card">
                  <!--weather card-->
                  <div class="card card-weather"  *ngFor="let forecast of forecastdayf">
                    <div class="card-body">
                      <div class="weather-date-location">
                        <h3 style="color:blue">{{city}}</h3>

                        <h2 style="float:right">{{forecast.dt_txt.substr(0,forecast.dt_txt.indexOf(' '))}}</h2>
                      
                    
  
                      </div>
                      <div class="weather-data d-flex">

                        <div class="mr-auto">

                          <h4 class="display-3">{{forecast.weather[0].description}}
                           </h4>
                          <p>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-flex weakly-weather">
                        <div class="weakly-weather-item">
                          <p class="mb-0">
                            Min Temp
                          </p>
                          <i class="mdi mdi-weather-cloudy"></i>
                          <p class="mb-0">
                            >{{forecast.main.temp_min}}
                          </p>
                        </div>
                        <div class="weakly-weather-item">
                          <p class="mb-1">
                            Max Temp
                          </p>
                          <i class="mdi mdi-weather-hail"></i>
                          <p class="mb-0">
                            >{{forecast.main.temp_max}}
                          </p>
                        </div>
                      
                        <div class="weakly-weather-item">
                          <p class="mb-1">
                            Humidity
                          </p>
                          <i class="mdi mdi-weather-pouring"></i>
                          <p class="mb-0">
                            >{{forecast.main.humidity}}
                          </p>
                        </div>
                     
                      
                      
                      </div>
                    </div>
                  </div>
                  <!--weather card ends-->
                </div>
                </div>
                </div>
                </div>
    
    
    
  
                <ng-template #noResults>
                    <p>No results found for "{{city}}".</p>
                  </ng-template>
  
  
       
      
    
    </div>
  
    
